body{
    background-color: black;
    color: white;
}

*{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    position: relative;
    margin: auto;
    width: 500px;
    background-color: rgb(8, 8, 8);
    border-radius: 9px;
    padding: 10px;
}
.action{
    padding: 10px;
    margin-bottom: 10px;
}
.link{
    float: right;
}
.price{
    float: right;
    color: rgb(0, 255, 0);
}
.price-down{
    float: right;
    color: red;
}
