<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Темнолесье инвестиции</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/" class="label">Темнолесье</a>
            <a href="/profile" class="link"> <%= login_text %> </a>
        </div>
        <form action="/api/login" method="post" class="signin">
            <p class="text">Вход:</p>
            <input type="text" placeholder="Ник" name="nickname"><br>
            <input type="text" placeholder="Пароль" name="password"><br>
            <input type="submit" value="Войти">
        </form>
        <a href="/register">Нет аккаунта? Зарегистрироваться</a>
    </div>
</body>
</html>