body{
    background-color: black;
    color: white;
}

*{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

a{
    color: white;
    text-decoration: none;
}

input{
    margin-top: 10px
}

.container{
    position: relative;
    margin: auto;
    width: 500px;
    background-color: rgb(8, 8, 8);
    border-radius: 9px;
    padding: 10px;
}

.text{
    margin-top: 2px;
    margin-bottom: 5px;
}

.navbar{
    padding: 5px;
}

.actions{
    padding: 5px;
}

.profile{
    padding: 5px;
}

.signin{
    padding: 10px;
}

input{
    color: white;
    border: none;
    background-color: rgb(15, 15, 15);
}

form{
    padding: 5px;
}

.audit{
    padding: 5px;
}

.log{
    padding: 10px;
}

.action{
    padding: 10px;
}

.link{
    float: right;
}
.price{
    float: right;
    color: rgb(0, 255, 0);
}
.price-down{
    float: right;
    color: red;
}
