*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.client{
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    margin-right: 500px;
    margin-bottom: 30px;
}
.panel_label{
    text-align: center;
}